html {
    box-sizing: border-box;
    color: #404040;
    font-family: Helvetica, arial, sans-serif;
    line-height: 1.4
}

*,*:before,*:after {
    box-sizing: inherit
}

body {
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 600px
}

a {
    color: #000000
}

h1,h2,h3,h4,h5,h6 {
    margin: 20px 0 10px;
    -webkit-font-smoothing: antialiased
}

hr {
    background: #ddd;
    border: 0;
    height: 1px;
    margin: 40px 0
}

header {
    text-align: center
}

h1 a,h2 a,h3 a {
    color: #404040;
    text-decoration: none
}

section {
    margin: 30px 0 40px 0
}

output {
    display: block;
    font-size: 0px;
    font-weight: bold;
    text-align: left;
    margin: 30px 0
}

input[type="text"],input[type="number"] {
    padding: 4px 8px
}

.button {
    background: #e6e6e6;
    background-image: linear-gradient(#fafafa, #eaeaea);
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    border-bottom-color: #bcbcbc;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 20px 0
}

.button:hover {
    background-image: linear-gradient(#eaeaea, #fafafa)
}

.button--small {
    font-size: .8em;
    line-height: 1;
    padding: 5px 8px;
    margin: 0
}

.img-circular {
    margin: 0 auto;
    position: relative
}

.img-circular,.img-circular:after,.img-circular img {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
    border-radius: 70px
}

.img-circular:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: rgba(0,0,0,0.6) 0 1px 6px inset;
    -moz-box-shadow: rgba(0,0,0,0.6) 0 1px 6px inset;
    box-shadow: rgba(0,0,0,0.6) 0 1px 6px inset
}

footer {
    text-align: center
}

pre,code {
    background: #f8f8f8;
    border-radius: 3px
}

pre {
    border: 1px solid #ddd;
    word-wrap: normal;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px
}

code {
    border: 1px solid #eaeaea;
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap
}

pre code {
    border: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background: transparent;
    border-radius: 0
}

.notification {
    background: rgba(0,255,0,0.1);
    border: 1px solid rgba(0,255,0,0.4);
    border-radius: 3px;
    padding: 14px;
    text-align: center
}

.highlight .c {
    color: #999988;
    font-style: italic
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .k {
    font-weight: bold
}

.highlight .o {
    font-weight: bold
}

.highlight .cm {
    color: #999988;
    font-style: italic
}

.highlight .cp {
    color: #999999;
    font-weight: bold
}

.highlight .c1 {
    color: #999988;
    font-style: italic
}

.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

.highlight .gd {
    color: #000000;
    background-color: #ffdddd
}

.highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #aa0000
}

.highlight .gh {
    color: #999999
}

.highlight .gi {
    color: #000000;
    background-color: #ddffdd
}

.highlight .gi .x {
    color: #000000;
    background-color: #aaffaa
}

.highlight .go {
    color: #888888
}

.highlight .gp {
    color: #555555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #800080;
    font-weight: bold
}

.highlight .gt {
    color: #aa0000
}

.highlight .kc {
    font-weight: bold
}

.highlight .kd {
    font-weight: bold
}

.highlight .kn {
    font-weight: bold
}

.highlight .kp {
    font-weight: bold
}

.highlight .kr {
    font-weight: bold
}

.highlight .kt {
    color: #445588;
    font-weight: bold
}

.highlight .m {
    color: #009999
}

.highlight .s {
    color: #dd1144
}

.highlight .n {
    color: #333333
}

.highlight .na {
    color: teal
}

.highlight .nb {
    color: #0086b3
}

.highlight .nc {
    color: #445588;
    font-weight: bold
}

.highlight .no {
    color: teal
}

.highlight .ni {
    color: purple
}

.highlight .ne {
    color: #990000;
    font-weight: bold
}

.highlight .nf {
    color: #990000;
    font-weight: bold
}

.highlight .nn {
    color: #555555
}

.highlight .nt {
    color: navy
}

.highlight .nv {
    color: teal
}

.highlight .ow {
    font-weight: bold
}

.highlight .w {
    color: #bbbbbb
}

.highlight .mf {
    color: #009999
}

.highlight .mh {
    color: #009999
}

.highlight .mi {
    color: #009999
}

.highlight .mo {
    color: #009999
}

.highlight .sb {
    color: #dd1144
}

.highlight .sc {
    color: #dd1144
}

.highlight .sd {
    color: #dd1144
}

.highlight .s2 {
    color: #dd1144
}

.highlight .se {
    color: #dd1144
}

.highlight .sh {
    color: #dd1144
}

.highlight .si {
    color: #dd1144
}

.highlight .sx {
    color: #dd1144
}

.highlight .sr {
    color: #009926
}

.highlight .s1 {
    color: #dd1144
}

.highlight .ss {
    color: #990073
}

.highlight .bp {
    color: #999999
}

.highlight .vc {
    color: teal
}

.highlight .vg {
    color: teal
}

.highlight .vi {
    color: teal
}

.highlight .il {
    color: #009999
}

.highlight .gc {
    color: #999;
    background-color: #EAF2F5
}

